<figure class="figure">
    {% if include.nolink == null %}<a href="{{ include.url }}">{% endif %}
        <img src="{{ include.url }}"
             style="{% if include.max_height %}max-height: {{ include.max_height }}px; {% endif %}{% if include.max_width %}max-width: {{ include.max_width }}px; {% endif %}"
             class="figure-img img-responsive img-fluid" />
    {% if include.nolink == null %}</a>{% endif %}
    {% if include.caption %}<figcaption class="figure-caption"><span markdown="1">{{ include.caption }}</span></figcaption>{% endif %}
</figure>