<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
    <script src="{{ '/assets/js/bootstrap/bootstrap.bundle.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery/jquery.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    {% if page.og_image %}<meta property="og:image" content="{{ page.og_image | absolute_url }}" />
    {% elsif page.image %}<meta property="og:image" content="{{ page.image | absolute_url }}" />{% endif %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="/" id="project_title_link">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.description }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div class="container page-content">
      {{ content }}
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <a href="{{ site.github.owner_url }}">Github</a>
        &#8226;
        <a href="/feed.xml">RSS Feed</a>
        <p class="copyright">{{ site.title }} blog by {{ site.github.owner_name }}</p>
      </footer>
    </div>
    
  </body>
</html>
